<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta">
      {{display_user user}} on {{format_date created_at}}
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  {{else}}
  <p class="empty-state">No comments yet. Be the first to add context.</p>
  {{/each}}
</div>
